.intro {
    background-image: url('../img/intro-bg.png');
    background-repeat: no-repeat;
    height: 100vh;
}

.intro-openhours {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.intro-text {
    margin-top: 160px;
}

.intro-motto {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    margin-top: 25px;
}

.intro-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.intro-buttons-social a {
    margin-right: 25px;
}

.intro-buttons-social a:last-child {
    margin-right: 0px;
}


@media screen and (max-width: 960px) {
    .intro {
        height: 100%;
    }

    .intro-text {
        margin-top: 80px;
        padding: 0 20px;
    }

    .intro-buttons {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .intro-buttons-social {
        margin: 30px 0;
    }

}